{% extends "base.html" %}

{% block app_content %}
<h1> {{user.username}}'s  Transactions </h1>
<hr>


  <table class = "table">
  <thead class = "thead-light">
  <tr>
    <th scope = "col"> Transaction Date </th>
    <th scope = "col"> Transaction Description </th>
    <th scope = "col"> Income </th> 
    <th scope = "col"> Expense </th>
    <th scope = "col"> Bank </th> 
    <th scope = "col"> Cash </th> 
    <th scope = "col"> Payapp </th>

  </tr>
  </thead>
 
  <!-- <-- add statements within bank transaction for payapp to bank. Make sure it shows plus and minus for payapp anmd bank in the same transaction --!> -->

  {% for transaction in transactions %}
  <tbody class = "tbody light">

  <th scope = "row"> {{transaction.date}} </th>
  <th scope = "row"> {{transaction.description}} </th>
  <th scope= "row"> {% if transaction.transtype == "receipt" or transaction.transtype == "payapptobank" %} {{transaction.category}} {%endif%}  </th> 
  <th scope= "row">  {% if transaction.transtype == "debit" or transaction.transtype == "banktopayapp" %} {{transaction.category}} {%endif%} </th> 

  <th scope = "row"> {%if transaction.type == "Bank"%} 
                        {%if transaction.transtype == "debit" or transaction.transtype == "banktopayapp"%}
                             -{{transaction.amount}} 
                        {%elif transaction.transtype == "payapptobank" or transaction.transtype == "receipt"%}
                            + {{transaction.amount}} 
                        {% endif %}
                    {% endif %}
                        </th>

  <th scope = "row"> {%if transaction.type == "Cash"%} {{transaction.amount}} {%endif%} </th>
  <th scope = "row"> {%if transaction.type == "PayApp"%} {{transaction.amount}} {%endif%} </th>


  </tbody>

  {%endfor%}


</table>



{% endblock %}
