{% extends "base.html" %}

{% block app_content %}
<h1> {{user.username}}'s Cash Transactions </h1>
<hr>

<table class = "table">
  <thead class = "thead-light">
  <tr>
    <th scope = "col"> Transaction Date </th>
    <th scope = "col"> Transaction Amount </th>
    <th scope = "col"> Transaction Description </th>
    <th scope = "col"> Transaction Category </th> 
    <th scope = "col"> Debit? </th>
  </tr>
  </thead>

  {% for transaction in transactions %}
  <tbody class = "tbody light">

  <th scope = "row"> {{transaction.date}} </th>
  <th scope = "row"> {{transaction.amount}} </th>
  <th scope = "row"> {{transaction.description}} </th>
  <th scope = "row"> {{transaction.category}} </th>
  <th scope = "row">{% if transaction.debit %} yes {% else %} no {% endif %}</th>

  </tbody>

  {% endfor %}

{% endblock %}
