{% extends "base.html" %}

{% block content %}
   <h1>Hi, {{ current_user.username }}!</h1>

   <p> Your cash balance is: {{current_user.cashBalance}}
     <br>
     Your bank balance is: {{current_user.bankBalance}}
     <br>
     Your PayLah! and PayNow! balance is: {{current_user.payappBalance}}
   </p>

   <a href = "{{url_for('logcash')}}"> Record a Cash Transaction </a> <br>
   <a href = "{{url_for('logbank')}}"> Record a Bank Transaction </a> <br>
   <a href = "{{url_for('logpayapp')}}"> Record a PayApp Transaction </a> <br>

   <a href = "{{url_for('allcashtransaction')}}"> Check all your cash transactions </a> <br>
   <a href = "{{url_for('allbanktransaction')}}"> Check all your bank transactions </a> <br>
   <a href = "{{url_for('allpayapptransaction')}}"> Check all your payapp transactions </a>




{% endblock %}
