{% extends "base.html" %}

{% block content %}

<!-- Index page has two differnt views depending on whether user is logged in or not -->

    {% if current_user.is_anonymous %}
   <h1>Hello user!</h1>
   <p> Please <a href = "{{url_for('login')}}"> log in</a> to continue. </p>
    <p> No account yet? Head over <a href = "{{url_for('register')}}"> here </a> to register! </p>

   {%else%}
   <h1> Hello, {{ current_user.username }} </h1>
   <p> Check out your current balances at <a href = "{{url_for('home')}}"> home</a>.
     <p> No account yet? Head over <a href = "{{url_for('register')}}"> here </a> to register! </p>
   {%endif%}


{% endblock %}
