<!-- Registration Form -->

{%block content%}
<h1> Register </h1>
<form action = "" method = "post">
  {{form.hidden_tag()}}

  <p>
    {{form.date.label}}
    {{form.date(size=32)}}<br>
    {% for error in form.username.errors%}
    <span style = "color: red;">[{{error}}]</span>
    {% endfor %}
    </p>

  <p>
    {{form.debit.label}}
    {{form.debit(size = 32)}} <br>
    {% for error in form.email.errors %}
    <span style = "color: red;">[{{error}}]</span>
    {% endfor %}
</p>

<p> {{form.amount.label}}
  {{form.amount(size=32)}}<br>
  {% for error in form.password.errors%}
  <span style = "color: red;">[{{error}}]</span>
{%endfor%}


 <p> {{form.description.label}}
   {{form.description(size = 32)}}<br>
   {% for error in form.cash.errors %}
   <span style = "color: red;">[{{error}}]</span>
   {% endfor %}
   </p>

 <p> {{form.submit()}} </p>
 </form>
 {% endblock %}
